<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todolist Component Vue</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div>
    <div id="root">
      <input v-model="inputValue" />
      <button @click="handleSubmit">提交</button>
      <ul>
        <todo-item
          v-for="(item, index) of list"
          :key="index"
          :content="item"
        ></todo-item>
      </ul>
    </div>
  </div>
  <script>
    Vue.component('todo-item', {
      props: ['content'],
      template: '<li>{{content}}</li>',
    });

    // var TodoItem = {
    //   template: '<li>item</li>',
    // };

    new Vue({
      el: '#root',
      // components: {
      //   'todo-item': TodoItem
      // },
      data: {
        inputValue: '',
        list: []
      },
      methods: {
        handleSubmit: function() {
          this.list.push(this.inputValue);
          this.inputValue = '';
        },
      }
    });
  </script>
</body>
</html>